services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: edison-gravity-app
    container_name: edison-gravity-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - edison-net

  webserver:
    image: nginx:alpine
    container_name: edison-gravity-nginx
    restart: unless-stopped
    tty: true
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - edison-net
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: edison-gravity-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE:-edison_gravity}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
      MYSQL_PASSWORD: ${DB_PASSWORD:-root}
      MYSQL_USER: ${DB_USERNAME:-root}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - edison-net
    ports:
      - "33061:3306"

networks:
  edison-net:
    driver: bridge

volumes:
  dbdata:
    driver: local
